# Sam's Jupyter Notebook for Project 4

In [1]:
import pandas as pd
import numpy as np

In [126]:
train=pd.read_csv('../Data/train.csv')
test=pd.read_csv('../Data/test.csv')
weather=pd.read_csv('../Data/weather.csv')
spray=pd.read_csv('../Data/spray.csv')
# train.columns = map(str.lower, train.columns)
# test.columns = map(str.lower, test.columns)
# weather.columns = map(str.lower, weather.columns)
# spray.columns = map(str.lower, spray.columns)
train.columns = [col.lower().replace(' ', '_') for col in train.columns]
test.columns = [col.lower().replace(' ', '_') for col in test.columns]
weather.columns = [col.lower().replace(' ', '_') for col in weather.columns]
spray.columns = [col.lower().replace(' ', '_') for col in spray.columns]

In [127]:
train.head(2)

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [61]:
spray.shape

(14835, 4)

In [62]:
spray.head(2)

         date        time   latitude  longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163

In [63]:
weather.head(5)

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [64]:
test.isnull().sum()

id                        0
date                      0
address                   0
species                   0
block                     0
street                    0
trap                      0
addressnumberandstreet    0
latitude                  0
longitude                 0
addressaccuracy           0
dtype: int64

In [65]:
spray.dtypes

date          object
time          object
latitude     float64
longitude    float64
dtype: object

In [66]:
spray.isnull().sum()

date           0
time         584
latitude       0
longitude      0
dtype: int64

In [70]:
spray['date']=pd.to_datetime(spray['date'])
spray['time']=pd.to_datetime(spray['time'])
spray.head()

        date                time   latitude  longitude
0 2011-08-29 2018-09-11 18:56:58  42.391623 -88.089163
1 2011-08-29 2018-09-11 18:57:08  42.391348 -88.089163
2 2011-08-29 2018-09-11 18:57:18  42.391022 -88.089157
3 2011-08-29 2018-09-11 18:57:28  42.390637 -88.089158
4 2011-08-29 2018-09-11 18:57:38  42.390410 -88.088858

In [84]:
spray.diff()

        date     time  latitude  longitude
0        NaT      NaT       NaN        NaN
1     0 days 00:00:10 -0.000275   0.000000
2     0 days 00:00:10 -0.000327   0.000007
3     0 days 00:00:10 -0.000385  -0.000002
4     0 days 00:00:10 -0.000227   0.000300
5     0 days 00:00:10 -0.000015   0.000543
6     0 days 00:00:10  0.000278   0.000313
7     0 days 00:00:10  0.000353   0.000000
8     0 days 00:00:10  0.000377  -0.000002
9     0 days 00:00:10  0.000315   0.000008
10    0 days 00:00:10  0.000320   0.000007
11    0 days 00:00:10  0.000372  -0.000090
12    0 days 00:00:10  0.000390  -0.000253
13    0 days 00:00:10  0.000457  -0.000038
14    0 days 00:00:10  0.000343   0.000138
15    0 days 00:00:50 -0.000397  -0.000185
16    0 days 00:00:10 -0.000412   0.000105
17    0 days 00:00:10 -0.000315   0.000102
18    0 days 00:00:10 -0.000092  -0.000487
19    0 days 00:00:10 -0.000287  -0.000417
20    0 days 00:00:10  0.000082  -0.000385
21    0 days 00:00:10  0.000248  -0.000292
22    0 days 00:00:10  0.000293  -0.000252
23    0 days 00:00:10  0.000237  -0.000258
24    0 days 00:00:10  0.000032  -0.000595
25    0 days 00:00:10  0.000012  -0.000717
26    0 days 00:00:10  0.000007  -0.000398
27    0 days 00:00:10  0.000012  -0.000538
28    0 days 00:00:10  0.000083  -0.000633
29    0 days 00:00:10  0.000015  -0.000555
...      ...      ...       ...        ...
14805 0 days 00:00:10 -0.000502   0.000002
14806 0 days 00:00:10 -0.000502  -0.000012
14807 0 days 00:00:10 -0.000550   0.000035
14808 0 days 00:00:10 -0.000442  -0.000013
14809 0 days 00:00:10 -0.000522   0.000008
14810 0 days 00:00:10 -0.000502   0.000005
14811 0 days 00:00:10 -0.000437   0.000027
14812 0 days 00:00:10 -0.000027   0.000647
14813 0 days 00:00:10  0.000042   0.000585
14814 0 days 00:00:10  0.000542   0.000040
14815 0 days 00:00:10  0.000537   0.000007
14816 0 days 00:00:10  0.000463  -0.000007
14817 0 days 00:00:10  0.000568   0.000030
14818 0 days 00:00:10  0.000547   0.000025
14819 0 days 00:00:10  0.000553   0.000037
14820 0 days 00:00:10  0.000600  -0.000012
14821 0 days 00:00:10  0.000595  -0.000018
14822 0 days 00:00:10  0.000532   0.000025
14823 0 days 00:00:20  0.000127   0.001342
14824 0 days 00:01:20 -0.001205   0.000017
14825 0 days 00:00:10 -0.000442  -0.000008
14826 0 days 00:00:10 -0.000568   0.000000
14827 0 days 00:00:10 -0.000618  -0.000018
14828 0 days 00:00:10 -0.000610   0.000022
14829 0 days 00:00:10 -0.000678  -0.000003
14830 0 days 00:00:10 -0.000632  -0.000017
14831 0 days 00:00:50 -0.000395  -0.003660
14832 0 days 00:00:20 -0.000170  -0.001377
14833 0 days 00:00:10 -0.000568  -0.000032
14834 0 days 00:00:10 -0.000648  -0.000037

[14835 rows x 4 columns]

In [87]:

weather.head()

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [88]:
weather.dtypes

station          int64
date            object
tmax             int64
tmin             int64
tavg            object
depart          object
dewpoint         int64
wetbulb         object
heat            object
cool            object
sunrise         object
sunset          object
codesum         object
depth           object
water1          object
snowfall        object
preciptotal     object
stnpressure     object
sealevel        object
resultspeed    float64
resultdir        int64
avgspeed        object
dtype: object

In [92]:
spray.groupby([spray["date"].dt.year, spray["date"].dt.week]).count().plot(kind="bar",figsize=(15, 5))

ValueError: Duplicated level name: "date", assigned to level 1, is already used for level 0.

In [129]:
weather

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
12,1,2007-05-07,83,47,65,10,41,54,0,0,...,RA,0,M,0.0,T,29.38,30.12,8.6,18,10.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
14,1,2007-05-08,82,54,68,12,58,62,0,3,...,BR,0,M,0.0,0.00,29.29,30.03,2.7,11,5.8
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
16,1,2007-05-09,77,61,69,13,59,63,0,4,...,BR HZ,0,M,0.0,0.13,29.21,29.94,3.9,9,6.2
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
18,1,2007-05-10,84,56,70,14,52,60,0,5,...,BR,0,M,0.0,0.00,29.20,29.92,0.7,17,4.1
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
20,1,2007-05-11,70,51,61,4,42,51,4,0,...,,0,M,0.0,0.00,29.33,30.04,11.3,3,12.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
22,1,2007-05-12,64,46,55,-2,36,46,10,0,...,,0,M,0.0,0.00,29.49,30.20,12.4,3,12.9
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
24,1,2007-05-13,69,43,56,-2,33,46,9,0,...,,0,M,0.0,0.00,29.49,30.24,6.6,14,8.1
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
26,1,2007-05-14,90,56,73,15,47,59,0,8,...,,0,M,0.0,0.00,29.23,29.97,16.9,21,17.3
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
28,1,2007-05-15,80,57,69,11,56,61,0,4,...,RA BR,0,M,0.0,0.38,29.13,29.84,8.1,27,12.3
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,1,2014-10-17,62,48,55,3,46,50,10,0,...,,0,M,0.0,T,28.99,29.69,11.1,29,13.2
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2916,1,2014-10-18,50,36,43,-8,38,42,22,0,...,RA DZ,0,M,0.0,0.01,29.39,30.08,8.2,34,9.2
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,...,,0,M,0.0,0.00,29.31,30.07,7.8,21,8.2
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2920,1,2014-10-20,65,46,56,6,44,49,9,0,...,,0,M,0.0,0.01,29.17,29.90,4.7,32,9.3
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,...,,0,M,0.0,0.00,29.46,30.16,10.8,1,11.4
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,...,,0,M,0.0,0.00,29.56,30.30,2.9,8,4.8
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,...,BR,0,M,0.0,0.00,29.39,30.15,7.5,19,7.8
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2928,1,2014-10-24,67,52,60,11,46,52,5,0,...,,0,M,0.0,0.00,29.25,30.00,4.4,22,5.8
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2930,1,2014-10-25,72,49,61,13,40,51,4,0,...,BR,0,M,0.0,0.00,29.21,29.93,10.4,29,10.9
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2932,1,2014-10-26,64,42,53,5,32,44,12,0,...,,0,M,0.0,0.00,29.21,29.95,0.9,5,5.8
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,,0,M,0.0,0.00,28.92,29.66,12.0,19,12.9
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,,0,M,0.0,T,29.15,29.85,14.8,26,15.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,,0,M,0.0,0.00,29.36,30.06,9.5,29,9.9
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,RA SN,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [ ]:
#clean train
convert to date time
train.Date = pd.to_datetime(train.Date, infer_datetime_format=True)

drop fields
train = train.drop(['Address', 'Block', 'Street', 'AddressNumberAndStreet'], axis=1)

change type
train.Species = train.Species.astype(str)
train.Trap = train.Trap.astype(str)

In [ ]:
#clean weather
convert to float
columns_to_int = ['Station', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 
                 'Cool', 'Sunrise', 'Sunset', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', 
                 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed']

def make_float(x):
    
    x = x.strip()
    
    if x.isnumeric():
        return float(x)
    
    if x == 'M' or x == 'T' or x == '-':
        return None
    
    return x



for col in columns_to_int:
    try:
        weather[col] = weather[col].astype('float')
    except:
        weather[col] = weather[col].apply(make_float)
        
        


change to datetime
weather.Date = pd.to_datetime(weather.Date, infer_datetime_format=True)

In [ ]:
#clean spray
drop duplicates
spray.drop_duplicates()

drop time
spray = spray.drop(['Time'], axis=1)

In [ ]:
# of mosquitos over 50 fall to next row.  50 is max
train['Duplicated_Rows'] = train.NumMosquitos.apply(lambda x : round(x / 50))

In [101]:
train['species'].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: species, dtype: int64

In [121]:
a=train['wnvpresent']==1
a.value_counts()

False    9955
True      551
Name: wnvpresent, dtype: int64

In [124]:
551/(9955+551)

0.05244622120692937

In [108]:
train.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent'],
      dtype='object')

In [112]:
train

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,1,0
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,2,0
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,3,0
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,1,0
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,3,0
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,5,0
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,1,0
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,1,0
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,2,0
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,1,0
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,1,0
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,1,0
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,1,0
25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,3,0
26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,5,0
27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,2,0
10477,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0
10478,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0
10479,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX PIPIENS,58,N PULASKI RD,T027,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,5,0
10480,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0
10481,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0
10482,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,4,0
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,1,0
10484,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,39,1
10485,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,4,0
10486,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,16,0
10487,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,9,0
10488,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,11,0
10489,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,1,0
10490,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX PIPIENS/RESTUANS,48,W MONTANA ST,T222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,1,0
10491,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,11,0
10492,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,1,0
10493,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,3,0
10494,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,7,0
10495,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,1,0
10496,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,3,0
10497,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,8,0
10498,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,13,0
10499,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,5,0
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,3,0
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0

In [132]:
train['addressnumberandstreet']

0           4100  N OAK PARK AVE, Chicago, IL
1           4100  N OAK PARK AVE, Chicago, IL
2            6200  N MANDELL AVE, Chicago, IL
3             7900  W FOSTER AVE, Chicago, IL
4             7900  W FOSTER AVE, Chicago, IL
5            1500  W WEBSTER AVE, Chicago, IL
6              2500  W GRAND AVE, Chicago, IL
7              1100  W ROOSEVELT, Chicago, IL
8              1100  W ROOSEVELT, Chicago, IL
9                1100  W CHICAGO, Chicago, IL
10              2100  N STAVE ST, Chicago, IL
11             2200  N CANNON DR, Chicago, IL
12             2200  N CANNON DR, Chicago, IL
13              2200  W 113TH ST, Chicago, IL
14              2200  W 113TH ST, Chicago, IL
15             1100  S PEORIA ST, Chicago, IL
16               1700  W 95TH ST, Chicago, IL
17               2200  W 89TH ST, Chicago, IL
18               2200  W 89TH ST, Chicago, IL
19           5300  N STREETER DR, Chicago, IL
20           5300  N STREETER DR, Chicago, IL
21          6500  N OAK PARK AVE, Chicago, IL
22            7500  N OAKLEY AVE, Chicago, IL
23              1500  N LONG AVE, Chicago, IL
24          8900  S CARPENTER ST, Chicago, IL
25          4100  N OAK PARK AVE, Chicago, IL
26          4100  N OAK PARK AVE, Chicago, IL
27          4100  N OAK PARK AVE, Chicago, IL
28            7900  W FOSTER AVE, Chicago, IL
29            7900  W FOSTER AVE, Chicago, IL
                         ...
10476      1000  S COTTAGE GROVE, Chicago, IL
10477      1000  S COTTAGE GROVE, Chicago, IL
10478      1000  S COTTAGE GROVE, Chicago, IL
10479         5800  N PULASKI RD, Chicago, IL
10480           4000  E 130TH ST, Chicago, IL
10481           4000  E 130TH ST, Chicago, IL
10482           4000  E 130TH ST, Chicago, IL
10483         9100  W HIGGINS RD, Chicago, IL
10484      1000  W OHARE AIRPORT, Chicago, IL
10485      1000  W OHARE AIRPORT, Chicago, IL
10486      1000  W OHARE AIRPORT, Chicago, IL
10487      1000  W OHARE AIRPORT, Chicago, IL
10488      1000  W OHARE AIRPORT, Chicago, IL
10489      1000  W OHARE AIRPORT, Chicago, IL
10490         4800  W MONTANA ST, Chicago, IL
10491     5100  N MONT CLARE AVE, Chicago, IL
10492     5100  N MONT CLARE AVE, Chicago, IL
10493        8200  S KOSTNER AVE, Chicago, IL
10494            6500  E 91ST PL, Chicago, IL
10495            6500  E 91ST PL, Chicago, IL
10496         1700  W ADDISON ST, Chicago, IL
10497      9000  W GARFIELD BLVD, Chicago, IL
10498        1300  N LARAMIE AVE, Chicago, IL
10499        1300  N LARAMIE AVE, Chicago, IL
10500    3900  N SPRINGFIELD AVE, Chicago, IL
10501            5100  W 72ND ST, Chicago, IL
10502          5800  N RIDGE AVE, Chicago, IL
10503        1700  N ASHLAND AVE, Chicago, IL
10504         7100  N HARLEM AVE, Chicago, IL
10505            4200  W 65TH ST, Chicago, IL
Name: addressnumberandstreet, Length: 10506, dtype: object

In [130]:
train.columns

Index(['date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy',
       'nummosquitos', 'wnvpresent'],
      dtype='object')

In [ ]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.cross_

In [133]:
test.columns

Index(['id', 'date', 'address', 'species', 'block', 'street', 'trap',
       'addressnumberandstreet', 'latitude', 'longitude', 'addressaccuracy'],
      dtype='object')

In [138]:
def create_month(x):
    return x.split('-')[1]

def create_day(x):
    return x.split('-')[2]

In [140]:
train['month'] = train.date.apply(create_month)

In [142]:
train['month']

0        05
1        05
2        05
3        05
4        05
5        05
6        05
7        05
8        05
9        05
10       05
11       05
12       05
13       05
14       05
15       05
16       05
17       05
18       05
19       05
20       05
21       05
22       05
23       05
24       05
25       06
26       06
27       06
28       06
29       06
         ..
10476    09
10477    09
10478    09
10479    09
10480    09
10481    09
10482    09
10483    09
10484    09
10485    09
10486    09
10487    09
10488    09
10489    09
10490    09
10491    09
10492    09
10493    09
10494    09
10495    09
10496    09
10497    09
10498    09
10499    09
10500    09
10501    09
10502    09
10503    09
10504    09
10505    09
Name: month, Length: 10506, dtype: object

In [144]:
spray.columns

Index(['date', 'time', 'latitude', 'longitude'], dtype='object')